
body{
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    background: #376D6D; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#376D6D, #505152); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#376D6D, #505152); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#376D6D, #505152); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#376D6D, #505152); /* Standard syntax (must be last) */
    direction:rtl;
}

header{
    background-color:white;
    height: 5vh;
    margin-bottom: 30px;
}

body, div, h1, h2, h3, h4{
    font-family: 'Assistant', sans-serif !important;
}

#accordion .glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

h4 a{
    font-size: 3vw;
}

.panel-body{
    font-size: 2.5vw;
    padding: 12px;
}

.answerPic{
    height: 400px;
}

#logo{
    height: 3.3vh;
    margin: 9px 554px;
    position: absolute;}

#container{
    max-width: 960px;
}

ul.nav li{
    font-size: 3vw;
}

/*
ul.nav li a{
color:white;
}
*/

/*
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .unselected {
color: #505152;
background-color:  #fff;
font-weight: bold;
}
*/


a.aQuestions:focus {
    color: #396b6b;
    text-decoration: none;
    font-weight: bold;
}



/*---------------------home page-------------------------*/
h1{
    color: white;
    text-align: CENTER;
    font-size: 5vh;
    margin: 5vh;
}

.hamburgerMenu{
    position: absolute;
/*    margin: -82px 683px !important;    */
    left:0;
}

.hamburgerMenu:focus{
    outline: transparent;
}

#mainNav{
    list-style: none; 
    margin-top: 3vh;
    justify-content: center;
}

#mainNav li a{
    background-color: white;
    display: inline-block;
    height: 25vw;
    width: 25vw;
    border-radius: 25vw;
    font-size: 4vw;
    text-align: center;
    color: #505152;
    margin: 20px;
}

#navBar{
    height: 69px;
    background-color: #3f4142;
    position: absolute;
    padding: 0px !important;
    margin-top: 76px;
}

.selected{
    background-color: white !important;
    display: inline-block;
    height: 18vw;
    width: 18vw;
    border-radius: 25vw;
    font-size: 3.1vw;
    text-align: center;
    color: #505152 !important;
    margin: 22px 5px;
    font-weight: bold;
    border: 6px solid #3f4142;    
    /*
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    */
}

/*
.liSelected{
order: 1; 
} 
*/

.selected img {
    height: 5.5vw;
    display: block;
    margin: 3vw auto 0vw auto;
}

.unselected {
    color: #505152;
    background-color: #f5f5f5;
    margin: 84px 5px 55px 5px;
    border-radius: 5px;
    font-size: 2vh;
    /*
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    */
}

.unselected img{
    height: 3vh;
    margin-left: 1vw;
}

.aNavBar img{
    pointer-events: none;
}

.homePageIcon{
    height: 10vw;
    display: block;
    margin: 4vw auto 1vw auto;
}

.innerPageIcon{
    height: 3vh;
    margin-left: 1vw;
}

ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 0px;
}

#searchTxt, #searchBtn{
    height: 50px;
    font-size: 2.5vh;
}

#5{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#5 h3{
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

#5 p{
    font-size: 2.5vw;
}

.menuClose{
    position: absolute;
    background-color: white;
    width: 40vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
/*    float:left;*/
/*    margin-right:-60vw;*/
    transform: translateX(-40vw);
}

.menuClose2{
/*    transform: translateX(-40vw);*/
/*    display:none;*/
}
.menuOpen{
    transform: translate(0);
/*    left: 0;*/
}

#menuHeader{
    height: 20vh;
    background-color: #32c9e8;
    padding: 2vh;
}

#userName{
    color: white;
    font-size: 2.8vh;
    text-align: center;
    display: block;
}

#job{
    margin-top: -0.7vh;
    font-size: 2.3vh;
    display: block;}

#profilePic{
    height: 10vh;
    margin: 0 auto;
    display: block;
}

#menuMiddle, #menuBottom{
    width: 100%;
}

#menuBottom{
    position: absolute;
    bottom: 0;
}
